body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

.CodeMirror {margin-bottom: 20px; border: 1px solid #f5f5f5;}

#userlist li.active {font-weight: bold;}

#files {list-style-type: none;}
#files li {float: left; padding: 3px;}