body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}


#userlist li.active {font-weight: bold;}